*
{
    margin: 0%;
    padding: 0%;
}


.base1
{
    background-image: url("polka.png");
    background-size: contain;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.base 
{
    background-color: rgb(28, 28, 32);
    width: 600px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.container 
{
    background-color: white;
    height: 375px;
    width: 74%;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contain
{
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: flex;
}

.description
{
    width: 62%;
    display:block;
}

.Header
{
    font-family: 'Roboto', sans-serif;
    font-size: 2.0em;
    width: 80%;
    margin-top: 20px;
    margin-left:5px;
    padding-left:20px;
    
    
}

.detail
{
    font-family: 'Roboto', sans-serif;
    font-size: 0.65em;
    line-height: 1.4em;
    width: 90%;
    margin-left:5px;
    padding-left:20px;
}

ul
{
    padding: 0;
}

li 
{
    margin-bottom: 8px;
    line-height: 1.6em;
    display: flex;
    align-items: center;
    width: 90%;
}

li::before
{
    content: '';
    display: inline-block;
    background-image: url("icon-list.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 21px;
    margin-right: 4.8px;
}



.image
{
    
    background-image: url("signup.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 38%;
    border-radius: 12px;
}

.forms 
{
    font-family: "Robota", sans-serif;
    line-height: 1.0em;
    margin-left:5px;
    padding-left:20px;
}
.forms label 
{
    font-size: 0.8em;
}
input[type=email] 
{
   width: 86%;
   height: 40px;
   background-color: white;
   margin-top: 7px;
   margin-left:1px;
   padding-left:20px;
   display: inline-block;
   border-radius: 8px;
   border: 1px solid black;
   box-sizing: border-box;
}

input[type=submit]
{
    width: 86%;
    height: 40px;
    background-color: rgb(21, 19, 19);
    color:white;
    margin-left: 1px;
    padding-left:10px;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid black;
    box-sizing: border-box;
    cursor: pointer;
}

input[type=submit]:hover 
{
    background-color:grey;
    border: none;

}

input[type=submit]:active 
{
    background: linear-gradient(105.2deg, rgb(255, 78, 78) 11.2%, rgb(253, 176, 71) 117.9%);

}

@media only screen and (max-width: 600px)
{

    *
    {
        box-sizing: border-box;
     
    }
    .base1 {
        background-image: none;
        background-color: white;
        justify-content: center;
        align-items: center;
    }

    .base 
    {
        background-color: white;
        box-shadow: none;
        height:100%;
        width: 100%;
        transform:none;
        top: 0%;
        left: 0%;
    }

    .container
    {
      width: 100%;
      padding: 0%;
      top:0%;
      left:0%;
      height: 100%;
      transform:none;
      box-shadow: none;
      margin: 0px;
      position: relative;
     
    }

    .contain
    {
        display: flex;
        flex-direction: column;
        right: -10%;
        bottom: -10%;
    }

    .description
    {
        padding: 10px;
        height: 60%;
        width: 100%;
    }

    .image
    {
        order: -1;
        padding-bottom:12%;
        background-image: url("signupmobile.svg");
        background-size: cover;
        height: 40%;
        width: 100%;
        border-radius: 0px 0px 12px 12px;
        justify-content: center;
        align-items: center;
    }

    img
    {
        max-height: 100%;
        max-width: 100%;
    }

    .Header
    {
        margin-top: 13px;
        margin-bottom: 15px;
        width: 100%;
        font-size: 2.4em;
        line-height: 0.7em;

    }

    .detail
    {
        font-size: 0.9em;
        width: 100%;
        padding-left: 19px;
        line-height: 2.0em;
        background-repeat: no-repeat;
    }
    
    li
    {
        line-height: 1em;
    }

    li::before
    {
        content: '';
        display: inline-block;
        background-image: url("icon-list.svg");
        background-repeat: no-repeat;
        background-size: 1.5em;
        width: 30px;
        height: 22px;
        line-height: 2em;
    }

    .forms
    {
        margin-left: 0px;
        padding-left: 20px; 
        
    }

    .forms label 
    {
        font-size: 0.8em;
    }
    input[type=email] 
    {
    width: 95%;
    height: 50px;
    background-color: white;
    margin-top: 7px;
    margin-left:1px;
    padding-left:19px;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid black;
    box-sizing: border-box;
    }

    input[type=submit]
    {
        width: 95%;
        height: 50px;
        background-color: rgb(21, 19, 19);
        color:white;
        margin-left: 1px;
        padding-left:10px;
        display: inline-block;
        border-radius: 8px;
        border: 1px solid black;
        box-sizing: border-box;
        cursor: pointer;
    }

}